@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sono', sans-serif;
    text-decoration: none;
    color: white;
}

.first-section {
    background-image: url('./imagens/stars.svg'), linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding-bottom: 7em;
}

.hr-notdiv {
    height: 6px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.067);
    border-radius: 200px;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    
}

header {
    display: flex;
    position: relative;
    margin-bottom: 6em;
}

header img {
    width: 12em;
}

#a-astro {
    width: 12em;
    height: 4em;
    margin-left: 50px;
    margin-top: 20px;
}

header button {
    width: 180px;
    height: 45px;
    border-radius: 1522px;
    background-color: #88D64B;
    border: none;
    position: absolute;
    top: 50px;
    right: 68px;
    cursor: pointer;
    font-size: 13pt;
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px rgba(113,198,47,1);
    transition: 0.3s;
}

header button:hover {
    transform: scale(1.1);
}

.main-card {
    display: flex;
    justify-content: center;
}

#astronauta img {
    width: 300px;
    transition: 0.5s;
    margin-right: 100px;
}

#astronauta img:hover {
    transform: scale(1.1) rotate(10deg);
}

#right-text {
    margin-right: -20px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-text span {
    margin-bottom: .8em;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#right-text button {
    width: 200px;
    height: 60px;
    border-radius: 1522px;
    background-color: #88D64B;
    border: none;
    cursor: pointer;
    font-size: 11pt;
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px rgba(113,198,47,1);
    transition: 0.3s;
}

#right-text button:hover {
    transform: scale(1.1);
}

.three-section {
    padding-top: 3em;
    padding-bottom: 5em;
    background-color: rgb(235, 235, 235);
}

.three-section .about {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    width: 65em;
    height: 25em;
    border-radius: 50px;
}

.three-section .about h2 {
    color: black;
    margin-right: 15em;
    margin-top: 40px;
    text-shadow: 0px 3px 3px rgba(150, 150, 150, 0.656);
}

.three-section .about p {
    position: absolute;
    width: 25em;
    left: 6em;
    top: 6.5em;
    color: black;
    font-weight: bold;
}

.three-section .about img {
    width: 17em;
    height: 17em;
    margin-top: 40px;
}

.three-section hr {
    width: 80em;
    height: 3px;
    border: 0;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.067);
    border-radius: 200px;
}

.footer {
    background-color: rgb(219, 219, 219);
    padding: 2em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer div {
    color: black !important;
    font-weight: 1000;
    font-size: 10pt;
}

.footer div#logo-senac img {
    width: 50px;
    display: block;
    margin-top: -10px;
}